<% content_for :title do %>LM tools internal dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-view="PullRequests" data-id="pull-requests"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jobcentre-api" data-view="Travis" data-unordered="true" data-title="Jobcentre API"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="lm-tools-jobs-api" data-view="Travis" data-unordered="true" data-title="Jobs API"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="statuscake" data-view="Statuscake" data-title="Monitoring"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="LM tools" data-text="Internal dashboard"></div>
    </li>
  </ul>
</div>
